section.weather
    .weather__wrapper
        .weather__block.error
        .weather__block.city
        .weather__block.desc
        .weather__block.temp Temperature: 
            span
        .weather__block.humidity Humidity:
            span
            | (f)
        .weather__block.speed Wind Speed:
            span
            | m/s
        .weather__block.icon
